@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700");

.about {
    @include containercenter;
    padding: 4rem;

    @include respond(phone){
        padding: 0;
    }
    &__header {
        font-size: 2rem;
    }

    &__info {
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        // padding: 2rem;
        :not(:last-child) {
            padding-bottom: 1rem;
        }

        @include respond(phone){
            margin-top: 5rem;
            padding: 0;
        }
    }

    &__details {
        
        font-size: 1.6rem;
        line-height: 1.5;

    }

    &__blockquote {
        font-size: 1.5rem;
        border: 1px solid $color-grey-light-1;
        margin: 0 auto;
        border: 1px solid rgba(222, 226, 230, 0.54);
        border-left: 0.5rem solid rgba(0, 123, 255, 0.54);
        color: #6c757d;
        font-family: "Open Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: italic;
        line-height: 1.6;
        margin: 1.875rem auto;
        max-width: 75%;
        // padding: 4.6875rem 1.875rem 1.875rem 4.6875rem;
        padding: 2rem 3rem;
        position: relative;
        width: 100%;

        &__footer {
            font-size: 80%;
            color: #343a40;
            display: block;
            font-style: normal;
            font-weight: 700;
            margin-top: 1rem;
            padding: 0;
        }

        @include respond(phone){
            max-width: 100%;
        }
    }
}